/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/JSP_Servlet/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : Feb 4, 2026, 10:18:56 PM
    Author     : Nguyen Dang Khang
*/

/* Sidebar full height */
.sidebar {
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  z-index: 100; /* Nằm dưới Navbar */
  padding: 48px 0 0; /* Padding top để tránh đè lên Navbar */
  box-shadow: inset -1px 0 0 rgba(0, 0, 0, .1);
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .bi {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #2470dc; /* Màu xanh active */
}

.sidebar .nav-link:hover .bi,
.sidebar .nav-link.active .bi {
  color: inherit;
}