# Bỏ qua tất cả file và thư mục (kể cả file ẩn)
*
.*

# Ngoại lệ: Giữ lại thư mục CFMS_Group6 và nội dung bên trong
!/CFMS_Group6/
!/CFMS_Group6/**

# Ngoại lệ: Giữ lại chính file .gitignore
!.gitignore

# Bỏ qua các file build và các file ảnh
*.war
target/
*.jpg
*.jpeg
*.png
*.gif
*.bmp
*.svg
*.webp