/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/ClientSide/css.css to edit this template
*/
/* 
    Created on : Feb 2, 2026, 7:05:40 PM
    Author     : Nguyen Dinh Giap
*/
body { 
    background-color: #f8f9fa; 
}

/* Hiệu ứng Card thống kê */
.card-box { 
    border-radius: 10px; 
    border: none; 
    transition: .3s; 
}

.card-box:hover { 
    transform: translateY(-5px); 
    box-shadow: 0 5px 15px rgba(0,0,0,0.1); 
}

/* Màu Gradient đẹp mắt */
.bg-gradient-primary { 
    background: linear-gradient(45deg, #4e73df, #224abe); 
}

.bg-gradient-success { 
    background: linear-gradient(45deg, #1cc88a, #13855c); 
}

.bg-gradient-warning { 
    background: linear-gradient(45deg, #f6c23e, #dda20a); 
}

/* Avatar hình tròn */
.avatar-circle { 
    width: 40px; 
    height: 40px; 
    background-color: #ddd; 
    border-radius: 50%; 
    display: inline-flex; 
    align-items: center; 
    justify-content: center; 
    font-weight: bold; 
    color: #555; 
}
